<!-- Adapted from Prof. Frankl's Flask Demo -->
<html>
<head>
</head>
<body>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<H1>Homepage</H1> 
<H2>Welcome Back, {{name.firstName}}!</H2>
Here are your photos:

<table>
	<th>Photo</th>
	<th>Time Posted</th>

{% for line in photos %}
	<tr>
		<td><a href="/images/{{line.photoID}}">{{line.photoID}}</a></td>
		<td>{{line.postingDate}}</td>
	</tr>
{% endfor %}
</table>
<br>
<a href="/uploadStart">Upload a Photo</a>
<br>
<a href="/viewVisiblePhotos">View All Visible Photos!</a>
<br>
<a href="/viewProfileSearch">View a Profile</a>
<br>
<a href="/manageFollowRequests">Follow Requests</a>
<br>
<a href="/createFriendGroup">Create a Friendgroup</a>
<br>
<a href="/updateBio">Update your Bio</a>
<br><br>
<a href="/logout">Logout</a>

</body>


</html>