<!-- Adapted from Prof. Frankl's Flask Demo -->
<html>
<head>
</head>
<body>
	<!--
<form action="/uploadImage" method="POST" enctype="multipart/form-data">
	<h1>Welcome {{username}}</h1> 
	<input type="file" name = "imageToUpload" required/> </br>
	<input type="submit" value = Upload />
</form>
-->
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
<H1>Homepage</H1>

Here are your photos:

<table>
	<th>Photo</th>
	<th>Time Posted</th>

{% for line in photos %}
	<tr>
		<td><a href="/images/{{line.photoID}}">{{line.photoID}}</a></td>
		<td>{{line.postingDate}}</td>
	</tr>
{% endfor %}
</table>
<a href="/uploadStart">Upload a Photo</a>
<br>
<a href="/viewVisiblePhotos">See your followed photos!</a>
<br>
<a href="/logout">Logout</a>

</body>


</html>