<html>
<head>
</head>
<body>
<a href="/image/{{poster_details.filepath}}">View Photo</a> 
<br>
Photo ID: {{poster_details.photoID}}
<br>
Poster: <a href="/profileSearchHandler/{{poster_details.photoPoster}}">{{poster_details.firstName}} {{poster_details.lastName}}</a>
<br>
Date Posted: {{poster_details.postingDate}}
<br>
Likes: <a href="/photoLikes/{{poster_details.photoID}}">{{likes_details.total}}</a>
<br>
<a href="/taggedUsers/{{poster_details.photoID}}"> View Tagged Users</a>
<br><br>
<a href="/home">Back to Home</a>
</body>
</html>